<h1><%= @order.id %></h1>
<ul class="show-container">
<li>Paid?: <%= @order.paid %></li>
<li>User: <%= @user %></li>
</ul>

<table class="index-table order-info-table">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Price</th>
  </tr>
<% @order.order_items.each do |order_item| %>
  <tr>
    <td><%= order_item.item.name %></td>
    <td><%=  %></td>
    <td><%= order_item.item.price %>€</td>
  </tr>
<% end %>
  <tr>
    <td></td>
    <th>Total:</th>
    <td><%= @total_price %>€</td>
  </tr>
</table>

<!-- Poner bien la ruta para mostrar solo los items de un pedido -->
<%= link_to 'Items', order_items_path(@order) %>
<%= link_to 'Cancel', orders_path(@order) %>