
<h1><%= @item.name %></h1>
<ul class="show-container">
	<li>Description: <%= @item.description %></li>
	<li>Price: <%= @item.price %>€</li>
	<li>Category: <%= @item.category.name %></li>
	<li>Available: <%= @item.available %></li>
	<li>Published: <%= @item.published %></li>
</ul>
<%= link_to("Go back", items_path) %>
