
<h1><%= @item.name %></h1>
<ul class="show-container">
	<li>Description: <%= @item.description %></li>
	<li>Price: <%= @item.price %>€</li>
	<li>Category: <%= @item.category.name %></li>
	<li>Available: <%= @item.available %></li>
	<li>Published: <%= @item.published %></li>
</ul>
<form>
	Amount: <input class="input-amount"></input>
</form>
<!-- <button id="add-button" type="submit">Add</button> -->
<%= link_to("Add", order_items_path(order_item: {notes: "gggg", order_id: @order, item_id: @item}), method: :post) %>
<%= link_to("Go back", items_path) %>
