<h1>Order Items</h1>

<table class="index-table">
  <tr>
    <th>Id</th>
    <th>Order Id</th>
    <th>Item</th>
    <th>Notes</th>
    <th></th>
    <th></th>
  </tr>
<% @order_items.each do |order_item| %>
  <tr>
    <td><%= order_item.id %></td>
    <td><%= order_item.order.id %></td>
    <td><%= order_item.item.name %></td>
    <td><%= order_item.notes %></td>
    <td><%= link_to edit_order_item_path(order_item) do %><img src="./icons/edit.png"><% end %></td>
    <td><%= link_to order_item_path(order_item), data: {confirm: 'Are you sure?'}, method: 'Delete' do %><img src="./icons/delete.png"><% end %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New order item', new_order_item_path %>
<%= link_to 'Go to Items', items_path %>
