<h1>New order item</h1>

<%= form_for @order_item do |f| %>
<%= f.label :notes %>
<%= f.text_area :notes %>
<br>
<%= f.label :order_id %>
<%= f.number_field :order_id %>
<br>
<%= f.label :item_id %>
<%= f.number_field :item_id %>
<br>
<%= f.submit 'Create' %>
<%= link_to("Cancel", order_items_path) %>
<% end %>