<h1>Order Item Statuses</h1>

<table class="index-table">
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Status</th>
    <th>Order_Item Id</th>
    <th></th>
    <th></th>
  </tr>
<% @order_item_statuses.each do |order_item_status| %>
  <tr>
    <td><%= order_item_status.id %></td>
    <td><%= order_item_status.user.name %></td>
    <td><%= order_item_status.status.name %></td>
    <td><%= order_item_status.order_item.id %></td>
    <td><%= link_to edit_order_item_status_path(order_item_status) do %><img src="./icons/edit.png"><% end %></td>
    <td><%= link_to order_item_status_path(order_item_status), data: {confirm: 'Are you sure?'}, method: 'Delete' do %><img src="./icons/delete.png"><% end %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New order item status', new_order_item_status_path %>