<h1>New authorization</h1>

<%= form_for @authorization do |f| %>
<%= f.label :permission_id %>
<%= f.number_field :permission_id %>
<br>
<%= f.label :role_id %>
<%= f.number_field :role_id %>
<br>
<%= f.submit 'Create' %>
<%= link_to("Cancel", authorizations_path) %>
<% end %>