<!DOCTYPE html>
<html>
<head>
  <title>RestTek</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="./app/assets/stylesheets/bootstrap">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main-container">
	<header>
			<img id="logo" alt="Logo RestTek" src="/images/logo1.png">

			<div class="header-content" id="menu-container">
				<ul id="menu">
				
				</ul>
			</div>

			<div id="top-bar" class="header-content">
			<% if user_signed_in? %>
				<%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %>
				<% else %>
				<%= link_to 'Sign_up', new_user_registration_path %>
				<%= link_to 'Sign_in', new_user_session_path %>
			<% end %>
			</div>
			
	</header>
	<article class="content-container">
	<%= yield %>
	</article>


	<footer>
		
	</footer>
</div>
</body>
</html>

