<!DOCTYPE html>
<html>
<head>
  <title>RestTek</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="./app/assets/stylesheets/bootstrap">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main-container">
	<header>
			<img id="logo" alt="Logo RestTek" src="/images/logo1.png">

			<div class="header-content" id="menu-container">
				<ul id="menu">
					<% Category.all.each do |category| %>
						<li><%= link_to category.name, items_filtered_by_category_path(category) %></li>
					<% end %>
					<% if user_signed_in? %>
						<li><%= link_to 'My orders', orders_filtered_by_user_path(current_user) %></li>
						<li><%= link_to "Hello #{current_user.name}!", profile_path %></li>
					<% end %>
				</ul>
			</div>
		
			<div id="top-bar" class="header-content">
			<% if user_signed_in? %>
				<%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %>
			<% else %>
				<%= link_to 'Sign_up', new_user_registration_path %>
				<%= link_to 'Sign_in', new_user_session_path %>
			<% end %>
			</div>
			
	</header>
	<article class="content-container">
	<%= yield %>
	</article>
	
	<aside>
    <ul id="menu-aside">
    	<% Status.all.each do |status| %>
			<li><%= link_to status.name, order_items_filtered_by_status_path(status.id) %></li>
		<% end %>
    </ul>
	</aside>

	<footer>
		
	</footer>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>

